//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

$base-fontsize: 1.1em;
$base-lineheight: 1.2em;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: $base-fontsize;
	line-height: $base-lineheight;
}
p, h1, h2, h3, h4, h5, ul, ol {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5 {font-weight: bold;}
h1 {font-size: $base-fontsize*2;}
h2 {font-size: $base-fontsize*1.8; margin-top: 1.2em;}
h3 {font-size: $base-fontsize*1.6;}
h4 {font-size: $base-fontsize*1.4;}
h5 {font-size: $base-fontsize;}
ul, ol {margin-left: 45px;}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}